* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #212529;
}

th {
  cursor: pointer;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  overflow: hidden;
}

.header {
  margin: 20px;
  text-align: center;
  font-size: 28px;
}

.table,
.filter {
  margin-top: 20px;
}

.verify-modal {
  display: none;
  position: absolute;
  top: 20vh;
  right: 0;
  left: 0;
  max-width: 400px;
  min-height: 350px;
  width: 90%;
  font-size: 18px;
  color: #212529;
  z-index: 2;
  background-color: #f8f5f5;
  border: 1px solid #212529;
  padding: 20px;
  margin: auto;
}

.add-form {
  display: none;
}

.search-form {
  display: none;
}

.search-alert {
  display: none;
}

.section-table {
  display: none;
}

.buttons__wrap {
  display: flex;
  justify-content: center;
}
.js-is-active {
  display: flex;
}

.js-is-inactive {
  transform: scale(0.5);
}

.form-control:focus,
.form-control:focus-visible,
.form-select:focus,
.form-select:focus-visible {
  border-color: #212529;
  box-shadow: 0 0 0 0.25rem rgb(33 37 41 / 25%);
}

.alert {
  color: #dc3545;
  height: 20px;
  font-size: 14px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

.add__btn:disabled,
.find__btn:disabled {
  color: white;
  background-color: #212529;
  opacity: 1;
}
